#container {
  background: #ddd;
  width: 500px;
  height: 250px;
}

path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
}

text {
  font-size: 12px;
  font-family: arial;
}

.domain, .tick line {
  stroke: gray;
  stroke-width: 1;
}